/*======각인 시작======*/
/* 이미지 출력 */
.image-text-container {
    /* position: relative; */
    width: 540px;
    height: 580px;
    background-image: url('../../assets/images/engrave/background/engrave.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(239, 239, 239);
  }
  /* 텍스트 출력 */
  .text-container {
    width: 160px;
    height: 270px;
  
    /* 중심 포지션 270 240 */
    transform: translate(197px, 260px);
  
    writing-mode: vertical-lr; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  
    /* background-color: rgba(255, 0, 157, 0.461); */
  }
  
  /*===좌우 글씨===*/
  .resultText1 {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 53.33px;
    height: 100%;
    /* background-color: rgba(9, 255, 0, 0.551); */
  }
  /* 한자 */
  .resultText1_0_1 {
    color: black;
    font-family: "HYHaeSo";
    font-weight: 900;
   
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 3px;
  
    width: 100%;
    /* height: 100%; */
  
    /* 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: rgba(17, 255, 0, 0.551); */
  }
  .resultText1_0_2 {
    color: black;
    font-family: "HYHaeSo";
    font-weight: 900;
   
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: -5px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    letter-spacing: -6px;
  
    width: 100%;
    /* height: 100%; */
  
    /* 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: rgba(17, 255, 0, 0.551); */
  }
  .resultText1_0_3 {
    color: black;
    font-family: "HYHaeSo";
    font-weight: 900;
   
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: -5px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    letter-spacing: -4px;
  
    /* 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: rgba(17, 255, 0, 0.551); */
  }
  /* 숫자 */
  .resultText1_1 {
    color: black;
    font-family: "CENTURY";
    font-weight: 900;
  
    font-size: 18px;
    margin-top: -4px;
  
    width: 100%;
    /* height: 100%; */
  
    margin-left: 13px;
    
    /* 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: rgba(255, 157, 0, 0.551); */
  }
  /* 점 */
  .resultText1_2 {
    color: black;
    font-weight: bold;
    font-family: "CENTURY";
  
    font-size: 18px;
    margin-top: -5px;
    margin-bottom: -1px;
  
    width: 100%;
    /* height: 100%; */
  
    margin-left: 18px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: rgba(0, 30, 255, 0.551); */
  }
  /* 한자 */
  .resultText1_3 {
    color: black;
    font-family: "HYHaeSo";
    font-weight: 900;
   
    font-size: 28px;
    margin-top: 3px;
    /* letter-spacing:-0em; */
  
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: rgba(17, 255, 0, 0.551); */
  }
  
  /*===이름 + 마크===*/
  .resultText2 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  
    width: 53.33px;
    height: 100%;
    /* background-color: rgba(226, 74, 74, 0.662); */
  }
  
  /*==마크==*/
  /* 일반 */
  .getResult2Mark_0 {
    width: auto;
    height: 65px;
  
    font-family: "HYHaeso";
    font-size: 45px;
    font-weight: 900;
    color: black;
  
    margin-left: 5px;
    margin-top: 15px;
  
    /* background-color: antiquewhite; */
  }
  /* 일반 */
  .resultText2_mark1 {
    width: 60px;
    height: 60px;
  
    margin-top: 15px;
    background-image: url('../../assets/images/marks/일반.png');
    background-repeat: no-repeat;
    background-size: contain;
  
    /* background-color: rgba(226, 74, 74, 0.662); */
  }
  /* 기독교 */
  .resultText2_mark2 {
    width: 60px;
    height: 60px;
  
    margin-top: 15px;
    margin-left: 4px;
    background-image: url('../../assets/images/marks/Christian.png');
    /* background-image: url('../../assets/images/marks/기독교.gif'); */
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* 불교 */
  .resultText2_mark3 {
    width: 60px;
    height: 60px;
  
    margin-top: 15px;
    background-image: url('../../assets/images/marks/Buddhism.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* 불교[검정] */
  .resultText2_mark3_2 {
    width: 60px;
    height: 60px;
  
    margin-top: 15px;
    margin-left: 20px;
    background-image: url('../../assets/images/marks/불교(검정).gif');
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* 천주교 */
  .resultText2_mark4 {
    width: 60px;
    height: 60px;
  
    margin-top: 15px;
    margin-left: 4px;
    background-image: url('../../assets/images/marks/Catholic.png');
    /* background-image: url('../../assets/images/marks/천주교.gif'); */
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* SGI, 묘법(검정)) */
  .resultText2_mark5 {
    width: 50px;
    height: 50px;
  
    margin-top: 15px;
    margin-left: 4px;
    background-image: url('../../assets/images/marks/묘법(검정).png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* 묘법, 묘법(금)*/
  .resultText2_mark5_2 {
    width: 50px;
    height: 50px;
  
    margin-top: 15px;
    margin-left: 4px;
    background-image: url('../../assets/images/marks/묘법(금).png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* 순복음*/
  .resultText2_mark6 {
    width: 65px;
    height: 65px;
  
    margin-top: 10px;
    margin-left: 7px;
    background-image: url('../../assets/images/marks/순복음.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  /* 원불교*/
  .resultText2_mark7 {
    width: 60px;
    height: 60px;
  
    margin-top: 15px;
    margin-left: 3px;
    background-image: url('../../assets/images/marks/WonBuddhism.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  /*==이름==*/
  /* 일반, 기독교, 불교, 천주교 */
  .resultText2_0 {
    color: black;
    font-family: "HYGungSo";
    font-size: 40px;
    letter-spacing:25px;
  
    /* background-color: rgba(145, 108, 108, 0.662); */
  }
  .resultText2_0-4 {
    color: black;
    font-family: "HYGungSo";
    font-size: 40px;
    letter-spacing:5px;
    /* background-color: rgba(145, 108, 108, 0.662); */
  }
  /* 형제(아래) */
  .resultText2_1 {
    color: black;
    font-family: "HYGungSo";
    font-size: 40px;
    letter-spacing:20px;
    margin-bottom: -20px;
  
    /* background-color: rgba(70, 79, 10, 0.475); */
  }
  .resultText2_1-4 {
    color: black;
    font-family: "HYGungSo";
    font-size: 38px;
    letter-spacing:5px;
    margin-bottom: -10px;
  
    /* background-color: rgba(70, 79, 10, 0.475); */
  }
  .resultText2_1_down {
    color: black;
    font-family: "HYGungSo";
    font-size: 21px;
    /* letter-spacing: -6px; */
  
    margin-bottom: 5px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  
    /* background-color: rgba(70, 79, 10, 0.475); */
  }
  /* SGI(위) */
  .resultText2_2 {
    color: black;
    font-family: "HYGungSo";
    font-size: 40px;
    letter-spacing:20px;
    margin-bottom: -20px;
    /* background-color: rgba(70, 79, 10, 0.481); */
  }
  .resultText2_2-4 {
    color: black;
    font-family: "HYGungSo";
    font-size: 38px;
    letter-spacing:5px;
    margin-bottom: -10px;
    /* background-color: rgb(70, 79, 10); */
  }
  .resultText2_2_up {
    color: black;
    font-family: "HYGungSo";
    font-size: 21px;
    /* letter-spacing: -6px; */
  
    margin-top: -5px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  
    /* background-color: rgba(70, 79, 10, 0.475); */
  }
  /* 묘법(위아래) */
  .resultText2_3 {
    color: black;
    font-family: "HYGungSo";
    font-size: 40px;
    letter-spacing: 10px;
    margin-top: -5px;
    margin-bottom: -15px;
    /* background-color: rgba(70, 79, 10, 0.511); */
  }
  .resultText2_3-4 {
    color: black;
    font-family: "HYGungSo";
    font-size: 30px;
    letter-spacing:5px;
    margin-bottom: -10px;
    /* background-color: rgb(70, 79, 10); */
  }
  .resultText2_3_up {
    color: black;
    font-family: "HYHaeSo";
    font-weight: 900;
    font-size: 24px;
    /* letter-spacing: -6px; */
  
    margin-top: -8px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  
    /* background-color: rgba(70, 79, 10, 0.475); */
  }
  .resultText2_3_down {
    color: black;
    font-family: "HYHaeSo";
    font-weight: 900;
    font-size: 30px;
    /* letter-spacing: -6px; */
  
    margin-bottom: -2px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  
    /* background-color: rgba(70, 79, 10, 0.475); */
  }
  /* 세례명(아래) */
  /* 이름1 */
  .resultText2_4_1 {
    color: black;
    font-family: "HYGungSo";
    font-size: 40px;
    letter-spacing:20px;
    margin-top: 0px;
    margin-bottom: -20px;
  
    /* background-color: rgb(70, 79, 10); */
  }
  .resultText2_4_1-4 {
    color: black;
    font-family: "HYGungSo";
    font-size: 38px;
    letter-spacing:5px;
    margin-bottom: -10px;
  
    /* background-color: rgb(70, 79, 10); */
  }
  /* 이름2 */
  .resultText2_4_2 {
    color: black;
    font-family: "HYGungSo";
    font-size: 23px;
    letter-spacing: -1px;
  
    margin-top: 3px;
    margin-bottom: -5px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    /* background-color: rgb(246, 71, 2); */
  }
  .resultText2_4_2-4 {
    color: black;
    font-family: "HYGungSo";
    font-size: 23px;
    letter-spacing: -4px;
  
    margin-top: 3px;
    margin-bottom: -5px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    /* background-color: rgb(246, 71, 2); */
  }
  .resultText2_4_2-5 {
    color: black;
    font-family: "HYGungSo";
    font-size: 21px;
    letter-spacing: -6px;
  
    margin-top: 3px;
    margin-bottom: -5px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    /* background-color: rgb(246, 71, 2); */
  }
  .resultText2_4_2-6 {
    color: black;
    font-family: "HYGungSo";
    font-size: 18.5px;
    letter-spacing: -6px;
  
    margin-top: 5px;
    margin-bottom: -5px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    /* background-color: rgb(246, 71, 2); */
  }
  /* 직분(위)*/
  /* 이름1 */
  .resultText2_5_1 {
    color: black;
    font-family: "HYGungSo";
    font-size: 40px;
    letter-spacing:18px;
    margin-top: 0px;
    margin-bottom: -20px;
    /* background-color: rgb(70, 79, 10); */
  }
  .resultText2_5_1-4 {
    color: black;
    font-family: "HYGungSo";
    font-size: 38px;
    letter-spacing:5px;
    margin-bottom: -10px;
  
    /* background-color: rgb(70, 79, 10); */
  }
  /* 이름2 */
  .resultText2_5_2 {
    color: black;
    font-family: "HYGungSo";
    font-size: 21px;
    /* letter-spacing: -6px; */
  
    margin-top: -10px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    /* background-color: rgb(246, 71, 2); */
  }
  .resultText2_5_2-4 {
    color: black;
    font-family: "HYGungSo";
    font-size: 21px;
    letter-spacing: -5px;
  
    margin-top: -10px;
    writing-mode: horizontal-tb; /* 세로로 쓰기 설정 */
    text-orientation: upright; /* 텍스트 방향 유지 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
    /* background-color: rgb(246, 71, 2); */
  }
  /*======각인 끝======*/